/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/main/client/css/Main.css ***!
  \************************************************************************************************************/
@font-face {
    font-family: "Chess V3";
    src: url(fonts/chessglyph-v3.0e06d716.woff2) format("woff2"),
        url("https://www.chess.com/bundles/web/fonts/chessglyph-v3/chessglyph-v3.0e06d716.woff2"), format("woff2");
}

@font-face {
    font-family: "Chess New";
    src: url(fonts/chessglyph-new.99e0b265.woff2) format("woff2"),
        url("https://www.chess.com/bundles/web/fonts/chessglyph-new.99e0b265.woff2") format("woff2");
}

#main_ABkIrKa3 {
    background: #eff;
    margin: 0 auto;
    width: 800px;
}

/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/main/client/javascript/templates/NCV/GameDisplay/GameDisplay.module.css ***!
  \***********************************************************************************************************************************************************/
:root {
    --main-square-primary-color: rgb(106, 114, 131);
    --main-square-secondary-color: rgb(41, 48, 61);
    --main-square-highlight-primary-color: rgb(247, 245, 125);
    --main-square-highlight-secondary-color:  rgb(186, 202, 73);
    --board-piece-size: 32px;
    --board-bank-piece-size: 32px;
    --ghostboard-square-color: #333;
    --sidebar-background-color: rgba(39, 38, 35, 0.5);
}

.board-wrap_VJWbnxe5 {
    position: relative;
    width: min-content;
}

.board-piece-bank-container_Rl3ynIkf {
    width: 0;
    height: 0;
}

.board-piece-bank-wrap_h49gS1Te {
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}

.board-piece-bank-wrap_h49gS1Te:hover {
    border-color: hsla(0, 0%, 100%, 0.6);
}

.board-piece-bank-wrap--right_JiiwMH6- {
    left: 100%;
}

.board-piece-bank-wrap--left_0i8ycLXB.board-piece-bank_m6vArUSo {
    direction: rtl;
}

.board-piece-bank-wrap--left_0i8ycLXB {
    right: 100%;
}

.board-piece-bank-wrap--bottom_UKAjApY1 {
    bottom: 0;
}

.board-piece-bank-wrap--top_kkfon9QG {
    top: 0;
}

.board-piece-bank_m6vArUSo {
    z-index: unset;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--sidebar-background-color);
    font-weight: 600;
    user-select: none;
}

.board-piece-bank__piece-wrap_8J1I0eNM {
    position: relative;
    width: var(--board-bank-piece-size);
    height: var(--board-bank-piece-size);
    border-radius: 5px;
}

.board-piece-bank__piece_nxBUnU9M {
    position: relative;
    top: 0;
    left: 0;
    z-index: unset;
    width: var(--board-bank-piece-size);
    height: var(--board-bank-piece-size);
    transform: scale(78%);
    transition: transform 1s;
}

.board-piece-bank__piece-wrap_8J1I0eNM:hover > .board-piece-bank__piece_nxBUnU9M {
    transform: scale(100%);
}

.board-piece-bank__piece-count_fTBZzIrY {
    position: absolute;
    right: 2%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 45%;
    background-color: var(--sidebar-background-color);
    border-radius: 100px;
    color: #fff;
}

.board-dialog-window_mnNHdCSa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.board-dialog-window_mnNHdCSa > * {
    pointer-events: all;
}

.board-promotion-dialog_Gb8bcDiy {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 9px;
    cursor: pointer;
}

.board-promotion-dialog__piece-display_btf9rgDF {
    width: var(--board-piece-size);
    height: var(--board-piece-size);
}

.board-chained-move-notice_Z8Zwc7bU {
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.board-chained-move-notice--seirawan-drop_UB3rn1Ic {
    background: rgba(44, 44, 44, 0.66);
}

@keyframes backgroundBlink_lFyW3ERi {
    50% {
        background-color: transparent;
    }
}

.board-chained-move-notice--blink_w15qwAZp {
    animation: 1s backgroundBlink_lFyW3ERi;
    animation-timing-function: steps(1);
}

.board-chained-move-notice__description_bFImzfeS {
    font-weight: 500;
    color: #fff;
}

.board-chained-move-notice__countdown_gc4FsYQ7 {
    font-weight: 500;
    color: #fff;
    margin-left: 8px;
}

.board-chained-move-notice__arrow_VpT9e6-y {
    width: 20px;
    height: 15px;
    margin-left: 8px;
}

.game-row_tapcZb\+z {
    display: flex;
    max-width: fit-content;
    padding-left: 0;
    list-style-type: none;
}

.game-row_tapcZb\+z:nth-child(odd) > .game-square-wrap_Ao8ZJuxO:nth-child(odd),
.game-row_tapcZb\+z:nth-child(even) > .game-square-wrap_Ao8ZJuxO:nth-child(even) {
    background-color: var(--main-square-primary-color);
}

.game-row_tapcZb\+z:nth-child(odd) > .game-square-wrap_Ao8ZJuxO:nth-child(even),
.game-row_tapcZb\+z:nth-child(even) > .game-square-wrap_Ao8ZJuxO:nth-child(odd) {
    background-color: var(--main-square-secondary-color);
}

.game-square-wrap_Ao8ZJuxO {
    display: flex;
    width: var(--board-piece-size);
    height: var(--board-piece-size);
    justify-content: center;
    align-items: center;
}

.game-square_zBPwyb\+j {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.game-row_tapcZb\+z:nth-child(odd) > .game-square-wrap_Ao8ZJuxO:nth-child(odd) .game-square_zBPwyb\+j.game-square--active_zli8TOvz,
.game-row_tapcZb\+z:nth-child(even) > .game-square-wrap_Ao8ZJuxO:nth-child(even) .game-square_zBPwyb\+j.game-square--active_zli8TOvz {
    background-color: var(--main-square-highlight-primary-color);
}

.game-row_tapcZb\+z:nth-child(odd) > .game-square-wrap_Ao8ZJuxO:nth-child(even) .game-square_zBPwyb\+j.game-square--active_zli8TOvz,
.game-row_tapcZb\+z:nth-child(even) > .game-square-wrap_Ao8ZJuxO:nth-child(odd) .game-square_zBPwyb\+j.game-square--active_zli8TOvz {
    background-color: var(--main-square-highlight-secondary-color);
}

.game-row_tapcZb\+z > .game-square-wrap_Ao8ZJuxO .game-square_zBPwyb\+j.game-square--ghosted_GfWHF3UW {
    background-color: var(--ghostboard-square-color);
}

.game-row_tapcZb\+z > .game-square-wrap_Ao8ZJuxO .game-square_zBPwyb\+j.game-square--fogged_v3mhYN7s {
    background-color: inherit;
    filter: brightness(50%);
}

.game-square__piece_oqTNcN2e {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.game-player-box-container_qJJ\+aii2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.game-player-box-container_qJJ\+aii2.game-player-box-container--edge-extruded_h4km7wBb {
    top: 50%;
    left: 50%;
    width: 133%;
    height: 133%;
    transform: translate(-50%, -50%);
}

.game-player-box_9G9\+Gwli {
    display: flex;
    position: absolute;
}

.game-player-box--right_u74zKd2L {
    left: 100%;
}

.game-player-box--left_yPiR1FHR {
    right: 100%;
}

.game-player-box--bottom_hwuMUotB {
    bottom: 0;
}

.game-player-box--top_92NrT4\+D {
    top: 0;
}

.game-player-box__clock_pTnR3qIv {
    color: #fff;
}

.game-player-box__clock-icon_jxTx3bK1 {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0 0.2rem;
    font-size: 1.8rem;
    font-family: "Chess V3";
}

.game-player-box__clock-icon_jxTx3bK1::before {
    content: "\0027";
}

.game-player-box__clock-seconds_UDFi3Ddd {
    font-family: "Chess New";
    font-size: 2rem;
}

.game-player-box__player-data_TLWVDSBb {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    justify-content: flex-start;
}

.game-player-box--left_yPiR1FHR .game-player-box__player-data_TLWVDSBb {
    flex-direction: row-reverse;
}

.game-player-box__player-icon_0oR95c0b {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.35rem;
}

.game-player-box-container--active_PZFPDEdh .game-player-box__player-icon_0oR95c0b {
    filter: brightness(100%);
}

.game-player-box__player-info_FEQ4P0sh {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.game-player-box__player-points_IZtqztfd {
    position: absolute;
    height: 3.5rem;
    padding: 0 0.4rem;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #fff;
    border-radius: 0.2rem;
    text-shadow: 0 0 0.5rem #fff;
}

.game-player-box--bottom_hwuMUotB .game-player-box__player-points_IZtqztfd {
    top: calc(100% + 0.45rem);
}

.game-player-box--top_92NrT4\+D .game-player-box__player-points_IZtqztfd {
    bottom: calc(100% + 0.45rem);
}

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/main/client/css/Arrows.module.css ***!
  \*********************************************************************************************************************/
.prolonged-concave-arrow-wrap_xD07aO4O {
    position: relative;
    width: inherit;
    height: inherit;
}

.prolonged-concave-arrow_ldTiqF41 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 15%;
    background-color: #fff;
}

.prolonged-concave-arrow_ldTiqF41::after, .prolonged-concave-arrow_ldTiqF41::before {
    position: absolute;
    right: -16%;
    width: 60%;
    height: 120%;
    content: "";
    background-color: #fff;
}

.prolonged-concave-arrow_ldTiqF41::after {
    bottom: 120%;
    transform: rotate(45deg);
}

.prolonged-concave-arrow_ldTiqF41::before {
    top: 110%;
    transform: rotate(-45deg);
}

/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/main/client/javascript/templates/NCV/PercentageDisplay.module.css ***!
  \*****************************************************************************************************************************************************/
.list_o\+IDUfky {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style-type: none;
    padding-left: 0;
}

.percentage_section_Atsli49n {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0 0.4rem;

    font-size: 1rem;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 0 5px rgba(33, 33, 33, 0.7);
    transition: all .3s ease-in;
}

.percentage_section_Atsli49n:hover > .tooltip_span_AA6D40ZJ {
    opacity: 1;
    transform: translate(-50%, 0);
}

.tooltip_span_AA6D40ZJ {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    margin-bottom: 0.4rem;
    padding: 0.4rem;
    background-color: #333;
    color: #e2e2e2;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, 0.4rem);
    transition: all .15s ease-in-out;
}

.tooltip_span_AA6D40ZJ::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-top-color: #000;
    transform: translate(-50%, 0);
}

.text_span_7hvHxhaW {
    font-weight: bold;
    font-size: 1.4rem;
}

.percentage_checkbox_YSvH3ZD8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

.fake_checkbox_KI3PkOrm {
    display: none;
}

.fake_checkbox_KI3PkOrm:checked + label > .percentage_checkbox_YSvH3ZD8 {
    border-width: 9px;
    border-style: solid;
    border-color: inherit;
    animation: shrink-bounce_ewIza3we 200ms cubic-bezier(.4,.0,.23,1);
}

@keyframes shrink-bounce_ewIza3we {
    0%{
      transform: scale(1);
    }
    33%{    
      transform: scale(.85);
    }
    100%{
      transform: scale(1);    
    }
}

/*# sourceMappingURL=main.css.map*/