<!DOCTYPE html>
<html th:fragment="layout (template, menu)" lang="en">

<head>
	<title>Chess Variants Wiki</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description"
		content="Chess variants website supporting customization, engine-generated moves, multiple players. Showcases many games with high speed at once. ">
	<link rel="preload" href="scripts/react-app.js" as="script">
</head>

<body>
	<nav class="navigation">
		<ul class="navigation-links">
			<li class="navigation-links-item">
				<a href="/" class="navigation-links-item__link">Home</a>
			</li>
			<li class="navigation-links-item">
				<a href="#" class="navigation-links-item__link">How Heroku Works</a>
			</li>
			<li class="navigation-links-item">
				<a href="#" class="navigation-links-item__link">Getting Started Guides</a>
				<ul class="navigation-links-item__menu" role="menu">
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-divider"></li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
					<li class="navigation-links-item__menu-item">
						<a class="navigation-links-item__menu-item-link" href="#">Getting Started</a>
					</li>
				</ul>
			</li>
			<li class="navigation-links-item">
				<a href="/" class="navigation-links-item__link">Home</a>
			</li>
			<li class="navigation-links-item">
				<a href="#" class="navigation-links-item__link">How Heroku Works</a>
			</li>
		</ul>
	</nav>
	<div th:replace="${template}" />
</body>

</html>