<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<main class="main">
    <p class="content"></p>
</main>

<script src="/scripts/app.js"></script>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
	<head>
		<meta charset="UTF-8" />
		<title>React on Spring</title>
	</head>
	<body>
		<main id="react-mountpoint"></main>

		<script async src="scripts/react-app.js"></script>
	</body>
</html>
